* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100vh;
  height: 80vh;
}

ul {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}
